<h1>Artists#living</h1>
<ul>
    <% @artists.each do |artist| %>
        <li><%= artist.name %> is alive and healthy as can be!</li>
    <% end %>
</ul>
<p>Find me in app/views/artists/living.html.erb</p>
